html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 600px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}



#u138
{
	z-index: 2;
	width: 960px;
}

#u138_position_content
{
	margin-top: 18px;
}

#pu140-4
{
	width: 0.01px;
	padding-bottom: 4px;
	margin-left: 38px;
	position: relative;
}

#u140-4
{
	z-index: 4;
	width: 222px;
	min-height: 70px;
	margin-right: -10000px;
	margin-top: 12px;
}

#pu250-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 510px;
}

#u250-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#u248
{
	z-index: 52;
	width: 141px;
	height: 29px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #42410B;
	background-color: #FFFFFF;
	margin-top: 11px;
	position: relative;
        padding: 0 0;
}

#u254-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#pu247
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	left: 671px;
}

#u247
{
	z-index: 51;
	width: 141px;
	height: 29px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #42410B;
	background-color: #FFFFFF;
	position: relative;
        padding: 0 0 ;
}

#u251-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 7px;
	position: relative;
}

#u249
{
	z-index: 53;
	width: 68px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #7F7F7F;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 828px;
}

#u253-4
{
	z-index: 62;
	position: relative;
	width: 38px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 16px;
}

#u253-4_img
{
	display: block;
	vertical-align: top;
}

#u139
{
	z-index: 3;
	width: 960px;
	padding-bottom: 16px;
	margin-top: 15px;
}

#menuu142
{
	z-index: 8;
	width: 920px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 20px;
}



#u151
{
	width: 129px;
	padding-bottom: 26px;
}

#u151:hover
{
	margin: 0px;
}

#u153-4
{
	width: 129px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u151:hover #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u151:active #u153-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}



#u184
{
	width: 129px;
	padding-bottom: 26px;
}

#u151.MuseMenuActive,#u184:hover
{
	margin: 0px;
}

#u186-4
{
	width: 129px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u151.MuseMenuActive #u153-4,#u184:hover #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u184:active #u186-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}



#u175
{
	width: 130px;
	padding-bottom: 26px;
}

#u184.MuseMenuActive,#u175:hover
{
	margin: 0px;
}

#u177-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u184.MuseMenuActive #u186-4,#u175:hover #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u175:active #u177-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#menuu142 li
{
    float: left;
	width: 130px;
	min-height: 43px;
	margin-left: 2px;
}

#menuu142 a {
background-color: #29ABE2;
position: relative;
width: 130px;
padding-bottom: 26px;    
}
#menuu142 a.MuseMenuActive{
    
    background-color: #42410B;
}
#u144
{
	width: 130px;
	padding-bottom: 26px;
}

#u175.MuseMenuActive,#u144:hover
{
	margin: 0px;
}

#u147-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u175.MuseMenuActive #u177-4,#u144:hover #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u147-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}



#u189
{
	width: 130px;
	padding-bottom: 26px;
}

#u144.MuseMenuActive,#u189:hover
{
	margin: 0px;
}

#u191-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u144.MuseMenuActive #u147-4,#u189:hover #u191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u189:active #u191-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u210
{
	width: 130px;
	min-height: 43px;
	margin-right: -10000px;
	left: 658px;
}

#u211
{
	width: 130px;
	padding-bottom: 26px;
}

#u189.MuseMenuActive,#u211:hover
{
	margin: 0px;
}

#u212-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u189.MuseMenuActive #u191-4,#u211:hover #u212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u211:active #u212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}



#u218
{
	width: 130px;
	padding-bottom: 26px;
}

#u211.MuseMenuActive,#u218:hover
{
	margin: 0px;
}

#u218.MuseMenuActive
{
	margin: 0px;
}

#u220-4
{
	width: 130px;
	min-height: 17px;
	margin-right: -10000px;
	top: 13px;
}

#u211.MuseMenuActive #u212-4,#u218:hover #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u218:active #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u218.MuseMenuActive #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

